/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ===================
======= common css ==========
=======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 100px;
}
.container-2{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 100px;
}
.primary-button{
    outline: 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px; 
    border-radius: 41px;
    color: #fff;
    background: #E02C6D;
    cursor: pointer;
}


/* =========================
========= header styles ==========
=============================*/

.header-top{
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
}
.top-bar, .shoping-icon{
    display: none;
}

.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
   
}
.menu li a{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    transition-duration: scroll 3s;
}

/* ==============================
=======  banner styles ============
=================================*/
.banner{
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    order: 1;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: transparent;
    position: relative;
}
.banner-title::before{
    content: 'Start your Journey as Influencer';
    position: absolute;
    color: #3A3A3A;
    animation: typing 5s linear infinite;
}

@keyframes typing{
    0%{
        content: 'S|';
    }
    2%{
        content: 'St|';
    }
    4%{
        content: 'Sta|';
    }
    6%{
        content: 'Star|';
    }
    8%{
        content: 'Start|';
    }
    10%{
        content: 'Start |';
    }
    12%{
        content: 'Start y|';
    }
    14%{
        content: 'Start yo|';
    }
    16%{
        content: 'Start you|';
    }
    18%{
        content: 'Start your|';
    }
    20%{
        content: 'Start your |';
    }
    22%{
        content: 'Start your J|';
    }
    24%{
        content: 'Start your Jo|';
    }
    26%{
        content: 'Start your Jou|';
    }
    28%{
        content: 'Start your Jour|';
    }
    30%{
        content: 'Start your Journ|';
    }
    32%{
        content: 'Start your Journe|';
    }
    34%{
        content: 'Start your Journey|';
    }
    36%{
        content: 'Start your Journey |';
    }
    38%{
        content: 'Start your Journey a|';
    }
    40%{
        content: 'Start your Journey as|';
    }
    42%{
        content: 'Start your Journey as |';
    }
    44%{
        content: 'Start your Journey as I|';
    }
    46%{
        content: 'Start your Journey as In|';
    }
    48%{
        content: 'Start your Journey as Inf|';
    }
    50%{
        content: 'Start your Journey as Infl|';
    }
    52%{
        content: 'Start your Journey as Influ|';
    }
    54%{
        content: 'Start your Journey as Influe|';
    }
    56%{
        content: 'Start your Journey as Influen|';
    }
    58%{
        content: 'Start your Journey as Influenc|';
    }
    60%{
        content: 'Start your Journey as Influence|';
    }
    64%,
    85%{
        content: 'Start your Journey as Influencer|';
    }
    86%{
        content: 'Start your Journey as Influenc|';
    }
    87%{
        content: 'Start your Journey as Influe|';
    }
    88%{
        content: 'Start your Journey as Infl|';
    }
    89%{
        content: 'Start your Journey as In|';
    }
    90%{
        content: 'Start your Journey as |';
    }
    91%{
        content: 'Start your Journey a|';
    }
    92%{
        content: 'Start your Journey|';
    }
    93%{
        content: 'Start your Journ|';
    }
    94%{
        content: 'Start your Jou|';
    }
    95%{
        content: 'Start your J|';
    }
    96%{
        content: 'Start your|';
    }
    97%{
        content: 'Start yo|';
    }
    98%{
        content: 'Start|';
    }
    99%{
        content: 'St|';
    }
    100%{
        content: '|';
    }

}
.banner-info p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-image{
    order: 2;
}
.banner-image img{
    width: 100%;
    display: block;
    margin: 0 auto;
}


/*===================================
============= products styles ===========
=====================================*/
.section-title{
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: center;
    gap: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.product-details{
    width: 300px;
    height:220px;
    display: block;
    margin: 0 auto;
    align-items: flex-start;
}
.product-name h2{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 6px;
}
.product-price h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.product-rating .fa-star.filled{
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #FB8200;
}
.product-rating .fa-star-half-alt.empty{
    width: 15px;
    height: 16px;
    font-size: 12px;
    color: #FB8200;
}
.product-rating span{
    font-size: 14px;
    font-weight: 600;
}
.product-info p{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}
.button{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.button a{
    padding: 10px;
    color: #E02C6D;
    text-align: end;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* =================================
========= contact-form style===========
===================================== */
.contact-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 50px;
}
.contact-image img{
    width: 90%;
    padding: 20px;
    box-shadow: -5px 10px 20px 5px rgba(0, 0, 0, 0.2);

}
.contact-form label{
    font-size: 20px;
    font-weight: 600;
}
.contact-form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/* ================================
=========== footer styles =============
=================================== */

footer{
    background: #0a0826;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.footer {
    color: white;
    width: 300px;
    height: 139px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}
.footer p{
    font-size: 14px;
}

.social-icon {
    width: 176px;
    height: 32px;
    margin: 0 auto;
    padding: 5px;
    font-size: 25px;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
} 

/* ==================================
=========== responsive style ===========
====================================*/
@media (max-width: 668px){
    .container{
        margin-bottom: 50px;
    }
    .header-top{
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .top-bar{
        display: block;
        order: 1;
    }
    .logo{
        order: 2;
    }
    .logo h2{
        font-size: 16px;
    }
    .shoping-icon{
        display: block;
        order: 3;
    }
    .menu{
        display: none;
    }
    .banner{
        grid-template-columns:repeat(1, 1fr);
    }
    .banner-image{
        order: 1;
    }
    .banner-image img{
        width: 60%;
    }
    .banner-info{
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: center;
    }
    .banner-info h1{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .banner-info p{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    
    .products{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .contact-us{
        grid-template-columns: 1fr;
    }
    .contact-image img{
        display: block;
        margin: auto;
    }
}

 
@media (min-width:669px) and (max-width:992px){

    .menu li a{
        margin-right: 0;
        padding: 5px;
    }
    .banner-info h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .product{
        align-items: center;
    }
    .contact-us{
        grid-template-columns: 1fr;
        width: 100%;
        /* justify-items: stretch;
        align-items: stretch; */

    }
    .contact-image img{
        display: block;
        margin: auto;
    }

}